        <div class="single-bottom">
          <h3>اترك تعليقا</h3>
          <div>
            <%= form_for [model,comment] do |f| %>
              <% if model.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(model.errors.count, "error") %> prohibited this comment from being saved:</h2>
                  <ul>
                  <% model.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <% if comment.parent %>
                <%= f.hidden_field :parent, :value => comment.parent %>
              <% end %>
              <div class="field">
                <%= f.hidden_field :author, :value => current_researcher.id %>
              </div>
                <div class="col-md-3 comment"></div>
                <div class="col-md-6 comment">
                     <%= f.text_area :text , :rows => "6" , :cols => "77" , :onfocus => "this.value='';" ,:onblur=>"if (this.value == '') {this.value ='التعليق';}" %>
                  <div class="actions">
                    <%= f.submit :value => "إضافة تعليق" ,:style=>"width: 80%; margin-right: 10%;" %>
                  </div>
                </div>
                <div class="col-md-3 comment"></div> 
          </div>    
        <% end %>
        </div>
      </div>
    </div>
  </div>    
