<p id="notice"><%= notice %></p>

<h1>Listing Xopus Pdfs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xopus_pdfs.each do |xopus_pdf| %>
      <tr>
        <td><%= link_to 'Show', xopus_pdf %></td>
        <td><%= link_to 'Edit', edit_xopus_pdf_path(xopus_pdf) %></td>
        <td><%= link_to 'Destroy', xopus_pdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xopus pdf', new_xopus_pdf_path %>
