  <div class="content">
  <!-- Single-page -->
    <div class="single-page">
    	<%if(!current_researcher.nil? && (current_researcher.id==@paper.researchers.first.id))%>
    	<div calss="row" style="margin-bottom: 5%;">
    		<div class="col-lg-2"></div>
    		<div class="col-lg-8">
		    	<ol class="breadcrumb">
		    	    <%if(@researcher.present?)%>
					  <li><%= link_to 'العودة إلى جميع المقالات', researcher_papers_path(@researcher) %></li>
					  <li><%= link_to 'تعديل المقالة', edit_researcher_paper_path(@researcher,@paper) %></li>
					<%end%>
					  <li class="active"><strong>الحالة : <%= @paper.state %></strong></li>
				</ol>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<%end%>
		<br>
	<div calss="row">
      <div class="container">
      	<h2 class="heading text-center"><%= @paper.title %></h2>
      	<div class="blog-to1 service_info" >		
			<p id="notice"><%= notice %></p>
			<div id="paper-content">
				<div class="blog-top" style="text-align: right;">
						<div class="blog-left">
							<b><%= @paper.created_at.strftime("%Y") %></b>
							<span><%= @paper.created_at.strftime("%m-%d") %></span>
							<hr>
							<div id="like">
								<span id="like_num">إعجابات  &nbsp; <%= @paper.likes %></span><br>
								<span id="thumbs_link">
								<%if(!current_researcher.nil?)%>
									<% if ((current_researcher.likes.nil?) || (!current_researcher.likes.include?(@paper.id))) %>
										<a class="glyphicon glyphicon-thumbs-up" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>
									<%else %>
										<a class="glyphicon glyphicon-thumbs-down" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>
									<%end%>
								<%end%>
								</span>
							</div>
							<hr>
							<span class="glyphicon glyphicon-save" style="font-size: 1em ! important; color: rgb(191, 231, 205) ! important;"> <%= link_to "تحميل المقالة", paper_download_path(@paper.id) ,:color=> "rgb(191, 231, 205) ! important;"%></span>
						</div>
						<div class="top-blog">								
								<div id ="keywords">
									<a class="fast"> الكلمات المفتاحية : </a>
									<% @paper.keywords.each do |key| %>
								    	 <%= key %> &nbsp; , &nbsp;
								    <% end %> 
								    <br>
								</div>
								<style type="text/css">
									.article h1{
										font-size: 33px;
										margin-top: 20px;
									}
									.article p{
										font-size: 20px;	
									}
								</style>
								<div id="paper_content" style="direction: ltr;text-align: left;margin:30px 10px 70px 10px">
									<%= @html_document.to_html.html_safe %>
								</div>
								<div id="tags">
									<a class="fast">الإشارات المرجعية :  </a>
							  		<% @paper.tags.each do |tag| %>
									   <a><%= link_to tag+"#", tag_path(tag)  %></a> | 
									<% end %>									
								</div>								
						</div> 
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="row">
				<center>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
				<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
			</a>
			<br />
			<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
				<%= @paper.title %>
			</span> لـ 
			<%= link_to @paper.researchers.first.username, researcher_path(@paper.researchers.first) ,"xmlns:cc"=>"http://creativecommons.org/ns#" ,:property=>"cc:attributionName" , :rel=>"cc:attributionURL" %>
			</a> <br> تخضع لحقوق الملكية الفكرية وفق الشروط التالية :
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
			<br />النسخة الأصلية من العمل هنا 
			<%= link_to @paper.title,@paper,"xmlns:dct"=>"http://purl.org/dc/terms/" %>
			</center>
			</div>
		</div>	
		<h3>المرفقات</h3><br>
		<div class='row'>
					<% @paper.post_attachments.each do |attach| %>
					   <div class='col-med-3'>
					   	<a onclick="show_details('<%=File.basename(attach.file_identifier)%>')"><%=File.basename(attach.file_identifier)%></a>
					   	<input type="hidden" id="<%=File.basename(attach.file_identifier)%>" value="<%=  attach.file_url %>">
					   </div>	
					<% end %>                
				</div>
     		<div class="single-middle">
     			<h3>التعليقات</h3>
				<div id='comments'>
					<% @paper.comments_list.each do |comment| %>
					    <% researcher = Researcher.find(comment.author.to_s)  %>
						<div class="media">
		                  <div class="media-left">
			                  <a href="#">
			                    <img class="media-object" src="/images/co.png" alt="">
			                  </a>
		                  </div>
		                  <div class="media-body" style="padding-right: 10px;">
						   <h4 class="media-heading"><%= link_to researcher.username, researcher_path(researcher) %> </h4>
							<p> <%= comment.text %> </p> 
		                  </div>
                		</div>
					<% end %>
				</div>	
	              <div class="clearfix"> </div>
     			                
			</div>

			<% if current_researcher  %>
				<div id="comment-form">
					<%= render :partial => 'comments/form', :locals => {:model => @paper, :comment => Comment.new} %>
				</div>
			<% else %>
				<p>يجب أن تكون عضوا حتى تتمكن من إضافة تعليق <%= link_to t(:signup), new_researcher_registration_path %> 
				| <%= link_to t(:login), new_researcher_session_path %> </p>
			<%end%>
			</div>
  </div>
</div>
</div>
<div id"itemform"></div>

    <div id="attachModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">الملحقات</h4>
          </div>
          <div class="modal-body">
          		<div class="row">
          			اسم الملف المرفق : 
          			<input type="text" id="filename" disabled style="width: 70%;">
          		</div>
          		<br>
          		<br>
          		الملف المرفق : 

          		<div class="row" id="innerview" width='100%'>
          		</div>	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
          </div>
        </div>

      </div>
    </div>
 

<script src="https://js.pusher.com/3.0/pusher.min.js" ></script>
<script>
var comment_top_ajax='<div class="media-left"><a href="#"><img class="media-object" src="images/co.png" alt=""></a></div><div class="media-body" style="padding-right: 10px;"><h4 class="media-heading">';
var comment_bottom_ajax="</h4><p>";

var pusher = new Pusher('80b5913c49bad64d4921', {
      encrypted: true
    });
var channel = pusher.subscribe('<%= @paper.id %>');

channel.bind('like', function(data) {
  document.getElementById("like_num").innerHTML=data.message;

  if(data.types.localeCompare("like") != 0)
  	document.getElementById("thumbs_link").innerHTML='<a class="glyphicon glyphicon-thumbs-up" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>'
  else
  	document.getElementById("thumbs_link").innerHTML='<a class="glyphicon glyphicon-thumbs-down" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>'
});

channel.bind('comment', function(data) {
	//alert(data.message);
  var newdiv = document.createElement('div');
            newdiv.setAttribute('class','media');
            newdiv.innerHTML=comment_top_ajax+ data.a_tag + comment_bottom_ajax + data.message +"</p></div>";
            //alert(newdiv.innerHTML);
            document.getElementById("comments").appendChild(newdiv);
});

function like_unlike() {
        if (window.XMLHttpRequest) {
          // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          	document.getElementById("itemform").innerHTML="";
          }
        }
        xmlhttp.open("GET","/paper/<%= @paper.id %>/like",true);
        xmlhttp.send();
  }

  function AJAXPost(formId) {
    var elem   = document.getElementById(formId).elements;
    var url    = document.getElementById(formId).action;        
    var params = "";
    var value;

    for (var i = 0; i < elem.length; i++) {
        if (elem[i].tagName == "SELECT") {
            value = elem[i].options[elem[i].selectedIndex].value;
        } else {
            value = elem[i].value;                
        }
        params += elem[i].name + "=" + encodeURIComponent(value) + "&";
    }

    if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    } else { 
        // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          	document.getElementById("itemform").innerHTML="";
          }
        }

    xmlhttp.open("POST","/papers/<%= @paper.id %>/comments",true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.setRequestHeader("Content-length", params.length);
    xmlhttp.setRequestHeader("Connection", "close");
    xmlhttp.send(params);

    return xmlhttp.responseText;
}

function show_details(str) {

	document.getElementById("filename").value=str;
	document.getElementById("innerview").innerHTML="<center><iframe src='"+document.getElementById(str).value+"' >error!</iframe></center>";
	$("#attachModal").modal('show');
  }
</script>		