<div class="col-md-4 news-section-grid" sstyle="border: 1px solid white;">
    <div class="news-section-grid-right" style="padding-right: 5%;">
        <a ><%= link_to paper.title,paper%></a>
        <p><%=paper.times_seen%><br><%= paper.abstract.html_safe if !paper.abstract.nil? %></p>
    </div>
    <div class="news-section-grid-left">
        <h3><%=paper.updated_at.strftime("%Y")%></h3>
        <h3><%=paper.updated_at.strftime("%m-%d")%></h3>
    </div>
    <div class="clearfix"></div>
</div>