  <div class="content">
  <!-- Single-page -->
    <div class="single-page">
      <div class="container">
      	<h2 class="heading text-center"><%= @paper.title %></h2>
      	<div class="blog-to1 service_info" >		
			<p id="notice"><%= notice %></p>

			<div id="paper-content">
				<div class="blog-top" style="text-align: right;">
						<div class="blog-left">
							<b><%= @paper.created_at.strftime("%Y") %></b>
							<span><%= @paper.created_at.strftime("%m-%d") %></span>
							<hr>
							<div id="like">
								<span id="like_num">likes  &nbsp; <%= @paper.likes %></span><br>
								<span id="thumbs_link">
								<% if ((current_researcher.likes.nil?) || (!current_researcher.likes.include?(@paper.id))) %>
									<a class="glyphicon glyphicon-thumbs-up" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>

								<%else %>
									<a class="glyphicon glyphicon-thumbs-down" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>
								<%end%>
								</span>
							</div>
						</div>
						<div class="top-blog">
								<a class="fast" href="#"> الكلمات المفتاحية :
									<% @paper.tags.each do |tag| %>
								    	 <%= tag %> &nbsp; , &nbsp;
								    <% end %> 
								    <br>
								<% if !@paper.abstract.nil? %>	      
								    <%= @paper.abstract.html_safe %>
								<% end %>     
								</a>
						  		<p>الإشارات المرجعية :  
						  		<% @paper.tags.each do |tag| %>
								   <a href="#"><%= tag %></a> | 
								<% end %>
								</p>
								<% if !@paper.introduction.nil? %>	  
										<p class="sed">
										  <strong>Literature Survay:</strong>
										</p>
										  <%= @paper.introduction.html_safe %>
								<%end%>	  	
								<% if !@paper.notation.nil? %>	  
										<p class="sed">
										  <strong>Notation:</strong>
										</p>
										  <%= @paper.notation.html_safe %>
								<%end%>	  		
								<% if !@paper.theory.nil? %>	  
										<p class="sed">
										  <strong>Theory:</strong>
										</p>
										  <%= @paper.theory.html_safe %>
								<%end%>	  			
								<% if !@paper.specification.nil? %>	  
										<p class="sed">
										  <strong>Specification:</strong>
										</p>
										  <%= @paper.specification.html_safe %>
								<%end%>	  				
								<% if !@paper.implementation.nil? %>	  
										<p class="sed">
										  <strong>Implementation:</strong>
										</p>
										  <%= @paper.implementation.html_safe %>
								<%end%>	  					
								<% if !@paper.valuation.nil? %>	 
									<p class="sed">
									  <strong>Valuation:</strong>
									</p>
									  <%= @paper.valuation.html_safe %>
								<%end%>	  						  
								<% if !@paper.related_work.nil? %>	  
										<p class="sed">
										  <strong>Related work:</strong>
										</p>
										  <%= @paper.related_work.html_safe %>
								<%end%>	  			
								<% if !@paper.further_work.nil? %>	  
										<p class="sed">
										  <strong>Further work:</strong>
										</p>
										  <%= @paper.further_work.html_safe %>
								<%end%>
								<% if !@paper.conclusion.nil? %>	  
									<p class="sed">
									  <strong>conclusion:</strong>
									</p>
									  <%= @paper.conclusion.html_safe %>
								<%end%>	  								  
								<% if !@paper.appendices.nil? %>	  
										<p class="sed">
										  <strong>Appendices:</strong>
										</p>
										  <%= @paper.appendices.html_safe %>
								<%end%>	  									
						</div> 
				</div>
				<div id='attachment'>
					<% @paper.post_attachments.each do |attach| %>
					   <p><%=File.basename(attach.file_identifier)%></p>
					    <p> <%=  attach.file_url %> </p>
					<% end %>                
				</div>					
			</div>
			<div class="clearfix"> </div>
			<div class="row">
				<center>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
				<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
			</a>
			<br />
			<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
				<%= @paper.title %>
			</span> لـ 
			<%= link_to @paper.researchers.first.username, researcher_path(@paper.researchers.first) ,"xmlns:cc"=>"http://creativecommons.org/ns#" ,:property=>"cc:attributionName" , :rel=>"cc:attributionURL" %>
			</a> <br> تخضع لحقوق الملكية الفكرية وفق الشروط التالية :
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
			<br />النسخة الأصلية من العمل هنا 
			<%= link_to @paper.title,@paper,"xmlns:dct"=>"http://purl.org/dc/terms/" %>
			</center>
			</div>
		</div>	
     		<div class="single-middle">
     			<h3>التعليقات</h3>
				<div id='comments'>
					<% @paper.comments_list.each do |comment| %>
					    <% researcher = Researcher.find(comment.author.to_s)  %>
						<div class="media">
		                  <div class="media-left">
			                  <a href="#">
			                    <img class="media-object" src="images/co.png" alt="">
			                  </a>
		                  </div>
		                  <div class="media-body">
						   <h4 class="media-heading"><%= link_to researcher.username, researcher_path(researcher) %> </h4>
							<p> <%= comment.text %> </p> 
		                  </div>
                		</div>
					<% end %>
				</div>	
	              <div class="clearfix"> </div>
     			                
			</div>

			<% if current_researcher  %>
				<div id="comment-form">
					<%= render :partial => 'comments/form', :locals => {:model => @paper, :comment => Comment.new} %>
				</div>
			<% else %>
				<p>you should be a member to leave a comment <%= link_to "Sign Up", new_researcher_registration_path %> 
				| <%= link_to "Log In", new_researcher_session_path %> </p>
			<%end%>
			</div>
  </div>
</div>

<div id"itemform"></div>

<script src="https://js.pusher.com/3.0/pusher.min.js" ></script>
<script>
var comment_top_ajax='<div class="media-left"><a href="#"><img class="media-object" src="images/co.png" alt=""></a></div><div class="media-body"><h4 class="media-heading">';
var comment_bottom_ajax="</h4><p>";

var pusher = new Pusher('80b5913c49bad64d4921', {
      encrypted: true
    });
var channel = pusher.subscribe('<%= @paper.id %>');

channel.bind('like', function(data) {
  document.getElementById("like_num").innerHTML=data.message;

  if(data.types.localeCompare("like") != 0)
  	document.getElementById("thumbs_link").innerHTML='<a class="glyphicon glyphicon-thumbs-up" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>'
  else
  	document.getElementById("thumbs_link").innerHTML='<a class="glyphicon glyphicon-thumbs-down" style="color: rgb(191, 231, 205) ! important;" onclick="like_unlike()"></a>'
});

channel.bind('comment', function(data) {
	//alert(data.message);
  var newdiv = document.createElement('div');
            newdiv.setAttribute('class','media');
            newdiv.innerHTML=comment_top_ajax+ data.a_tag + comment_bottom_ajax + data.message +"</p></div>";
            //alert(newdiv.innerHTML);
            document.getElementById("comments").appendChild(newdiv);
});

function like_unlike() {
        if (window.XMLHttpRequest) {
          // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          	document.getElementById("itemform").innerHTML="";
          }
        }
        xmlhttp.open("GET","/paper/<%= @paper.id %>/like",true);
        xmlhttp.send();
  }

  function AJAXPost(formId) {
    var elem   = document.getElementById(formId).elements;
    var url    = document.getElementById(formId).action;        
    var params = "";
    var value;

    for (var i = 0; i < elem.length; i++) {
        if (elem[i].tagName == "SELECT") {
            value = elem[i].options[elem[i].selectedIndex].value;
        } else {
            value = elem[i].value;                
        }
        params += elem[i].name + "=" + encodeURIComponent(value) + "&";
    }

    if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    } else { 
        // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          	document.getElementById("itemform").innerHTML="";
          }
        }

    xmlhttp.open("POST","/papers/<%= @paper.id %>/comments",true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.setRequestHeader("Content-length", params.length);
    xmlhttp.setRequestHeader("Connection", "close");
    xmlhttp.send(params);

    return xmlhttp.responseText;
}

</script>		