<p id="notice"><%= notice %></p>

<div id="paper-content">
	<p>
	  <strong>Title:</strong>
	  <%= @paper.title %>
	</p>

	<p>
	  <strong>paper creation_date:</strong>
	  <%= @paper.created_at%>
	</p>
	<div>
		<p>
		  <strong>Abstract:</strong>  
		</p>
		  <%= @paper.abstract.html_safe %>
	</div>
	<div>
		<p>
		  <strong>Introduction:</strong>  
		</p>
		  <%= @paper.introduction.html_safe %>
	</div>
	<% if !@paper.literature_survey.nil? %>	  
		<div>
			<p>
			  <strong>Literature Survay:</strong>
			</p>
			  <%= @paper.introduction.html_safe %>
		</div>
	<%end%>	  	
	<% if !@paper.notation.nil? %>	  
		<div>
			<p>
			  <strong>Notation:</strong>
			</p>
			  <%= @paper.notation.html_safe %>
		</div>
	<%end%>	  		
	<% if !@paper.theory.nil? %>	  
		<div>
			<p>
			  <strong>Theory:</strong>
			</p>
			  <%= @paper.theory.html_safe %>
		</div>
	<%end%>	  			
	<% if !@paper.specification.nil? %>	  
		<div>
			<p>
			  <strong>Specification:</strong>
			</p>
			  <%= @paper.specification.html_safe %>
		</div>
	<%end%>	  				
	<% if !@paper.implementation.nil? %>	  
		<div>
			<p>
			  <strong>Implementation:</strong>
			</p>
			  <%= @paper.implementation.html_safe %>
		</div>
	<%end%>	  					
	<div>
		<p>
		  <strong>Valuation:</strong>
		</p>
		  <%= @paper.valuation.html_safe %>
	</div>
	<% if !@paper.related_work.nil? %>	  
		<div>
			<p>
			  <strong>Related work:</strong>
			</p>
			  <%= @paper.related_work.html_safe %>
		</div>
	<%end%>	  			
	<% if !@paper.further_work.nil? %>	  
		<div>
			<p>
			  <strong>Further work:</strong>
			</p>
			  <%= @paper.further_work.html_safe %>
		</div>
	<%end%>
	<div>
		<p>
		  <strong>conclusion:</strong>
		</p>
		  <%= @paper.conclusion.html_safe %>
	</div>		  					
	<% if !@paper.appendices.nil? %>	  
		<div>
			<p>
			  <strong>Appendices:</strong>
			</p>
			  <%= @paper.appendices.html_safe %>
		</div>
	<%end%>	  								
</div>
<div id="like">
	<p><%= @paper.likes %><span> like</span></p>
	<% if ((current_researcher.likes.nil?) || (!current_researcher.likes.include?(@paper.id))) %>
		<div><%=link_to "Like", like_paper_path(@paper.id) %></div>
	<%else %>
		<div><%=link_to "Unlike", like_paper_path(@paper.id) %></div>
	<%end%>
</div>
<div id='tags'>
    <% @paper.tags.each do |tag| %>
    <p> <%= tag %></p>
    <% end %>
</div>

<div id='comments'>
	<% @paper.comments_list.each do |comment| %>
	    <% researcher = Researcher.find(comment.author.to_s)  %>
		<p> writen by <%= link_to researcher.username, researcher_path(researcher) %> </p>
		<p> <%= comment.text %> </p> 
	<% end %>                
</div>

<% if current_researcher  %>
	<div id="comment-form">
		<%= render :partial => 'comments/form', :locals => {:model => @paper, :comment => Comment.new} %>
	</div>
<% else %>
	<p>you should be a member to leave a comment <%= link_to "Sign Up", new_researcher_registration_path %> 
	| <%= link_to "Log In", new_researcher_session_path %> </p>
<%end%>