 <div class="content">
    <!--contact-->
   <div class="contact-section">
      <div class="container">
      <h2 class="heading text-center">بيانات الملف الشخصي</h2>
      	<h1 class="heading text-center" ><%= @researcher.username %></h1>
        <div class="contact-main">
            <style type="text/css">
            .field{
              margin: 20px 10px;
              width: 40%;
            }
            </style>  
              <%= form_for(@researcher) do |f| %>                
                <div class = "field">
                    <%= f.label t(:websiteurl) %><br>
                    <%= f.url_field :websiteurl, :class => 'form-control'%>
                </div>
                <div class = "field">
                    <%= f.label t(:birthdate) %><br>
                    <%= f.datetime_local_field :birthdate, :class => 'form-control'%>
                </div>                
                <div class = "field">
                  <%= f.label t(:address) %><br>
                  <%= f.text_field :address, :class => 'form-control'%>
                </div>
                <div class = "field">
                  <%= f.label :phone %><br>
                  <%= f.telephone_field :phone , :class => 'form-control' %>
                  </div>                
                <div class = "field">
                 <%= f.label "الصورة الشخصية" %><br>
                 <%= f.file_field :avatar, :class => "btn btn-default"%>                                                      
                 </div>
                 <div class = "field">
                  <%= f.submit "تعديل البيانات", :class =>"btn btn-default" %>
                </div>
              <%end%>
	        
        </div> 
      </div>
  </div>		
</div> 