<p id="notice"><%= notice %></p>

<p>
  <strong>Paper:</strong>
  <%= @post_attachment.paper_id %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @post_attachment.fname %>
</p>

<%= link_to 'تعديل', edit_post_attachment_path(@post_attachment) %> |
<%= link_to t(:back), post_attachments_path %>
