<div class="content">
    <!-- blogs -->
  <div class="blog">
    <div class="container">
      <h2 class="heading text-center">إضافة البحث العلمي</h2>
        <div class="single-inline">
          <%= form_for([@researcher,@paper]) do |f| %>
            <% if @paper.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@paper.errors.count, "error") %> منعت هذه المقالة من الحفظ:</h2>
                <ul>
                <% @paper.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
             <div class="field">
             <% if @paper.persisted? %>
             <iframe src="http://localhost:3000/home/get_xopus/<%= @paper.id%>" width="100%" style="height: 710px;" id="rails_iframe">error!</iframe>                          
             <%else %>
             <iframe src="http://localhost:3000/home/get_xopus/document" width="100%" style="height: 710px;" id="rails_iframe">error!</iframe>
             <%end %>
                
            </div>          
              <div class="field">
                <%=f.label t(:category)%>
                <%=f.select :category,
                      options_from_collection_for_select(
                                                                Category.all,
                                                                :name,
                                                                :name,
                                                              ),
                              {},
                              {:class => "chosen-select"}%>    
              </div><br />            
              <div class="field">
                 <%= f.label t(:other_researchers) %><br>
                 <%= f.select :researcher_ids,
                    options_from_collection_for_select(
                                                        Researcher.all.ne(_id: current_researcher.id),
                                                        :id,
                                                        :username,
                                                        {:selected => @paper.researchers.map {|res| res.id} }
                                                      ),
                      {},
                      {:multiple => true, :size => 3, :name => 'paper[researcher_ids][]', :class => "chosen-select"}%>

               </div>
              <%= f.fields_for :post_attachments do |p| %>
                 <div class="field">
                   <%= p.label t(:file) %><br>
                   <%= p.file_field :file, :multiple => true, name: "post_attachments[file][]" %>
                 </div>
              <% end %>                
              <%= f.label t(:state) %><br>
              <%= f.select(:state, options_for_select(
                  [
                    ['publish', 'published', { 'class' => 'published_paper' }],
                    ['draft', 'draft', { 'class' => 'draft_paper' }]
                  ], f.object.state
              )) %>
              </div>
              <div class="field">
                <%= f.label t(:tags) %><br />    
                <%= f.text_field :tags, "data-role" => "tagsinput", "value"=> @paper.tags %>    
              </div>
              <div class="field">
                <%= f.label t(:keywords) %><br />    
                <%= f.text_field :keywords, "data-role" => "tagsinput", "value"=> @paper.keywords %>    
              </div>              
              <div class="actions">
                <%= f.submit t(:add_the_paper) %>
              </div>
          <% end %>
        </div>
    </div> 
  </div>
</div>
 
<script type="text/javascript">  
$( "#new_paper" ).submit(function( event ) {
  var tag_element = $(".bootstrap-tagsinput").find("input")[0];
  var active_element = $(':focus').context.activeElement;
  if(tag_element==active_element)
    event.preventDefault();  
});
$(".chosen-select").chosen({disable_search_threshold: 2,
                            no_results_text: "Oops, nothing found!",
                            width: "20%",
                            max_selected_options: 3});
</script>
