<%= form_for([@researcher,@paper]) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div><br>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :class => 'someclass', :ckeditor => {:uiColor => '#AADC6E', :language => 'ar'} %>
  </div><br>  
  <div class="field">
  <%= f.label :state %><br>
  <%= f.select(:state, options_for_select(
      [
        ['publish', 'published', { 'class' => 'published_paper' }],
        ['draft', 'draft', { 'class' => 'draft_paper' }]
      ], f.object.state
  )) %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />    
    <%= f.text_field :tags, "data-role" => "tagsinput", "value"=> @paper.tags %>    
  </div>
  <%= f.fields_for :post_attachments do |p| %>
     <div class="field">
       <%= p.label :file %><br>
       <%= p.file_field :file, :multiple => true, name: "post_attachments[file][]" %>
     </div>
   <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">  
$( "#new_paper" ).submit(function( event ) {
  var e = $(".bootstrap-tagsinput").find("input")[0];
  var ee = $(':focus').context.activeElement;
  if(ee==e)
    event.preventDefault();
});
  $("#submit").click(function() {    
    $("#new_paper").submit();    
});
</script>