<div>
<%- if controller_name != 'researchers/sessions' %>
  <%= link_to t(:login), new_session_path(resource_name) %><br />
<% end -%>

<%- if controller_name != 'researchers/registrations' %>
  <%= link_to t(:signup), new_registration_path(resource_name) %><br />
<% end -%>

<!--<%- if controller_name != 'researchers/passwords' && controller_name != 'researchers/registrations' %>
  <%= link_to t(:forgot_password), new_password_path(resource_name) %><br />
<% end -%>

<%- if controller_name != 'researchers/confirmations' %>
  <%= link_to t(:didnt_receive_confirmation), new_confirmation_path(resource_name) %><br />
<% end -%>-->

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to t(:sign_in_with_provider), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
</div>
